<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lingluo.dao.ArticleDao">

    <sql id="tb">article</sql>

   <!--  <select id="queryById" parameterType="com.lingluo.model.Article" useGeneratedKeys="true"
            keyProperty="articleId">
         select * from
        <include refid="tb"/>
        (article_id, article_title,
 
        article_content)
        values (#{articleId,jdbcType=INTEGER},
        #{articleTitle,jdbcType=VARCHAR})
    </select> -->
     <select id="queryById" parameterType="String" resultType="com.lingluo.model.Article">
        select * from 
        <include refid="tb"/> 
        where article_id=#{id}
    </select>

</mapper>